
<h1 align="center">Know Your Customer</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
     <% for(i=0;i<user.length;i++){ %>
        <div class="card card-body text-center">
            <a href="#"><%= user[i].loginName %></a>
        </div>
        <% } %>
    </div>
</div>