<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.firstName+ ' ' + user.surName %></p>
<a href="/users/kyc" class="btn btn-info">Know Your Customer</a>
<a href="/users/post" class="btn btn-info">Post</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
