<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
    <h1>Know Your Customer</h1>
          <% include ./partials/messages %>
    <form method="post" enctype="multipart/form-data">
      <P>Upload CMND 2 mặt và hình selfie (3 ảnh)</p>
      <input type="file" name="img" accept="image/*" multiple>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    </div>
  </div>
</div>
